{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">
        
    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {height: 25px;}

        table.m_table{
            background: white;
            border: solid 1px #aaa;
        }
        table.m_table tr{border-bottom: solid 1px #aaa;}
        table.m_table tr:nth-child(even){background-color: #eee;}
        table.m_table tr th, table.m_table tr td{
            padding: 10px 10px;
        }

        .modal {
          opacity: 0;
          visibility: hidden;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          text-align: left;
          background: rgba(0,0,0, .9);
          transition: opacity .25s ease;
        }

        .modal__bg {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          cursor: pointer;
        }

        .modal {display: none;}

        .modal.show{
          opacity: 1;
          visibility: visible;
        }

        .modal__inner {
          transition: top .25s ease;
          position: absolute;
          top: -20%;
          right: 0;
          bottom: 0;
          left: 0;
          width: 50%;
          margin: auto;
          overflow: auto;
          background: #fff;
          border-radius: 5px;
          padding: 1em 2em;
          height: 50%;
        }

        .modal__close {
          position: absolute;
          right: 1em;
          top: 1em;
          width: 1.1em;
          height: 1.1em;
          cursor: pointer;
        }

        .modal__close:after,
        .modal__close:before {
          content: '';
          position: absolute;
          width: 2px;
          height: 1.5em;
          background: #ccc;
          display: block;
          transform: rotate(45deg);
          left: 50%;
          margin: -3px 0 0 -1px;
          top: 0;
        }

        .modal__close:hover:after,
        .modal__close:hover:before {background: #aaa;}

        .modal__close:before {transform: rotate(-45deg);}

        @media screen and (max-width: 768px) {
          .modal__inner {
            width: 90%;
            height: 90%;
            box-sizing: border-box;
          }
        }

        i.fas.tier_icon{margin-right: 10px;}
        i.tier_icon.color_Carbon{color: #464343 !Important;}
        i.tier_icon.color_Silver{color: Silver !Important;}
        i.tier_icon.color_Gold{color: Gold !Important;}
</style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Community</h1>
                    <table class="m_table">
                        <tr>
                            <th>Name</th>
                            <th>Tier</th> 
                            <th>Point Balance</th>
                            <th>Phone Number</th>
                        </tr>
                        {% for u in users %}
                        <tr>
                            <td><a class="open_modal" title="{{u.display_name}}" name="{{u.location}}">
                                    <i class="fas fa-user-circle color_{{u.tier}} tier_icon"></i>{{u.display_name}}</a></td>
                            <td>{{u.tier}}</td> 
                            <td>{{u.point_balance | int}}</td>
                            <td>{{u.phone}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
      <label class="modal__bg" for="modal-2"></label>
      <div class="modal__inner">
        <label class="modal__close" id="modal__close" for="modal-2"></label>
        <h2 id="title_modal"></h2>
        <p><strong>Location: </strong> <span id="text_location"></span></p>
      </div>
    </div>

    <script>
    $(document).ready(function () {
        var modal = $("#modal")
        $(".open_modal").click(function(e){
            modal.addClass('show');
            $('#title_modal').text(e.currentTarget.title);
            $('#text_location').text(e.currentTarget.name);
        });
        $("#modal__close").click(function(e){modal.removeClass('show')});
        $(".modal__bg").click(function(e){modal.removeClass('show')});
    });
    </script>

{% endblock %}

